.about {
    clear: both;
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0% 10% 5%;
}

.about-half {
    width: 50%;
    float: left;
    padding: 20px;
    position: relative;
    height: auto;
}

.about-title {
    text-align: center;
    margin-top: 60px;
	font-size: $h2-large;
	font-weight: $h2-weight;
	line-height: $h2-lineheight;
	letter-spacing: $h2-spacing;
    position: relative;
}

.about-quote {
    text-align: center;
    margin-top: 15px;
	font-size: $p-small;
	font-weight: $p-weight;
	line-height: $p-lineheight;
	letter-spacing: $p-spacing;
    margin-bottom: 60px;
    position: relative;
}

.image-about{
    height: auto;
    max-width: 100%;
    display: inline-block;
}

@media only screen and (max-width: 960px) {
    .about-half {
        width: 100%;
    }
}