.about {
    clear: both;
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
}

.about-half {
    width: 50%;
    float: left;
    background-position: 50% 50% !important;
    background-size: cover !important;
    box-sizing: border-box;
    padding: 20px;
}