// - - - - - - - - - - - - - - - - - -

// Gallery

// - - - - - - - - - - - - - - - - - -

.gallery {
	
}

.gallery--on {
	visibility: visible;
}

.gallery__item {
	position: relative;

	img {
		width: 100%;
	}
}



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Carousel

.gallery--carousel {

	.gallery__wrap {

	}
	
	.gallery__item {

	}

	.gallery__item__link {
		display: block;
		pointer-events: none;
		max-height: 100vh;
		max-width: 100%;
	}

	.gallery__item__image {

	}

	.owl-nav {
		display: none;
	}

	.owl-dots {
		margin-top: 20px;
		text-align: center;
		margin-bottom: 20px;

		.owl-dot {
			display: inline-block;
			margin: 0 3px;
			width: 12px;
			height: 12px;
			border: 0;
			border-radius: 100%;
			background: $text-light-color;
			@include transition(all 0.2s ease-in-out);
			cursor: pointer;
			outline: none;

			&.active {
				background: $accent-color;
			}
		}
	}
}



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Grid

.gallery--grid {

	.gallery__wrap {
		margin-left: 0;
		margin-right: 0;
	}
	
	.gallery__item {
		float: left;
		width: 50%;
		padding: $grid-spacing/2;
	}

	.gallery__item__link {
		display: block;
		cursor: zoom-in;
	}

	&[data-columns="3"] {

		.gallery__item {
			width: 33.33%;
		}
	}

	&[data-columns="4"] {

		.gallery__item {
			width: 33.33%;
		}

		@include mq(tabletp) {

			.gallery__item {
				width: 25%;
			}
		}
	}

	&[data-columns="5"] {

		.gallery__item {
			width: 33.33%;
		}

		@include mq(tabletp) {

			.gallery__item {
				width: 25%;
			}
		}

		@include mq(tabletl) {

			.gallery__item {
				width: 20%;
			}
		}
	}

	&[data-columns="6"] {

		.gallery__item {
			width: 33.33%;
		}

		@include mq(tabletp) {

			.gallery__item {
				width: 25%;
			}
		}

		@include mq(tabletl) {

			.gallery__item {
				width: 20%;
			}
		}

		@include mq(laptop) {

			.gallery__item {
				width: 16.66%;
			}
		}
	}
}


/* Centered text */
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9998;
    font-size: 300px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Raleway', sans-serif;	
	color: white;
  }

  @media all and (min-width: 50px)   {  .centered  { visibility: hidden} }
@media all and (min-width: 100px)  {  .centered  { visibility: hidden} }
@media all and (min-width: 200px)  {  .centered  { visibility: hidden} }
@media all and (min-width: 300px)  {  .centered  { visibility: hidden} }
@media all and (min-width: 400px)  {  .centered  { visibility: hidden} }
@media all and (min-width: 500px)  {  .centered  { visibility: hidden} }
@media all and (min-width: 600px)  {  .centered  { visibility: hidden} }
@media all and (min-width: 700px)  {  .centered  { visibility: hidden} }
@media all and (min-width: 800px)  {  .centered  { visibility: hidden} }
@media all and (min-width: 900px)  {  .centered  { font-size:220px; visibility:visible;} }
@media all and (min-width: 1000px) {  .centered  { font-size:230px; visibility:visible;} }
@media all and (min-width: 1100px) {  .centered  { font-size:240px; visibility:visible;} }
@media all and (min-width: 1200px) {  .centered  { font-size:250px; visibility:visible;} }
@media all and (min-width: 1300px) {  .centered  { font-size:260px; visibility:visible;} }
@media all and (min-width: 1400px) {  .centered  { font-size:270px; visibility:visible;} }
@media all and (min-width: 1500px) {  .centered  { font-size:280px; visibility:visible;} }
@media all and (min-width: 1600px) {  .centered  { font-size:290px; visibility:visible;} }
@media all and (min-width: 1700px) {  .centered  { font-size:300px; visibility:visible;} }

