.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #444444;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
    z-index: 99999;
  }
  
  .back-to-top:hover {
    opacity: 60%;
  }
  
  .hidden {
    opacity: 0%;
  }
  
  .back-to-top-icon {
    width: 2rem;
    height: 2rem;
    color: #ffffff;
  }