.service {
    padding: 25px 150px 25px 150px;
}

.service-half {
    width: 50%;
    float: left;
    background-position: 50% 50% !important;
    background-size: cover !important;
    box-sizing: border-box;
    padding: 20px;
}

.service-text {
    text-align: center;
    padding: 50px 50px 0px 50px;
}

.service-image {
    padding: 5% 10%;
}
