.service {
    clear: both;
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.service-half {
    width: 50%;
    float: left;
    background-position: 50% 50% !important;
    background-size: cover !important;
    box-sizing: border-box;
    padding: 20px;
}